
<ul class="row">
  <li *ngFor="let product of products" class="col-4">
    <div class="card">
      <img class="card-img-top" src="http://smktesting.herokuapp.com/static/{{product.img}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.text}}</p>
        <a [routerLink]="['/Product', product.id]" class="btn btn-primary">Product page</a>
      </div>
    </div>
  </li>
</ul>
<!--<button (click)="getTest()">Test</button>-->


