<form>
  <div class="stars">
    <input type="radio" name="rate" value="5" id="star1">
    <label class="rate" for="star1"><i class="fa fa-star"></i></label>

    <input type="radio" name="rate" value="4" id="star2">
    <label class="rate" for="star2"><i class="fa fa-star"></i></label>

    <input type="radio" name="rate" value="3" id="star3">
    <label class="rate" for="star3"><i class="fa fa-star"></i></label>

    <input type="radio" name="rate" value="2" id="star4">
    <label class="rate" for="star4"><i class="fa fa-star"></i></label>

    <input type="radio" name="rate" value="1" id="star5">
    <label class="rate" for="star5"><i class="fa fa-star"></i></label>
  </div>
  <br>
  <input type="text" name="review">
  <input type="submit" value="Submit Review">
</form>
