<form id="reviewForm" (ngSubmit)="formSubmit(reviewFrom)" #reviewFrom="ngForm">
  <div class="form-group">
    <textarea ngModel placeholder="Type your review" form="reviewForm" class="form-control" name="text" id="" rows="2"></textarea>
  </div>
  <div class="formFooter">
    <div class="stars">
      <input ngModel type="radio" name="rate" value="5" id="star1">
      <label class="rate" for="star1"><i class="fa fa-star"></i></label>

      <input ngModel type="radio" name="rate" value="4" id="star2">
      <label class="rate" for="star2"><i class="fa fa-star"></i></label>

      <input ngModel type="radio" name="rate" value="3" id="star3">
      <label class="rate" for="star3"><i class="fa fa-star"></i></label>

      <input ngModel type="radio" name="rate" value="2" id="star4">
      <label class="rate" for="star4"><i class="fa fa-star"></i></label>

      <input ngModel type="radio" name="rate" value="1" id="star5">
      <label class="rate" for="star5"><i class="fa fa-star"></i></label>
    </div>
    <input type="submit" class="btn btn-success" value="Submit">
  </div>

</form>
<hr>
